<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>List Courses</title>
</head>
<body>
		
	<div layout:fragment="content">
	
		<h2>Courses</h2>
		
		<div th:if="${message}" class="alert alert-success" role="alert">
			<p th:text="${message}">success message</p>
		</div>

		<a th:href="@{/admin/course/create}" class="btn btn-success pull-left"><span class="glyphicon glyphicon-plus"></span>Add New Course</a>
		<br/><br/>

		<form class="form-inline pull-right" action="#" th:action="@{/admin/course/search}" method="GET">
			<div class="form-group">
				<input type="text" class="form-control" name="q" placeholder="Type courses name..." />
			</div>
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mã khóa học</th>
					<th>Tên khóa học (VN)</th>
					<th>Tên khóa học (EN)</th>
					<th>Tín chỉ</th>
					<th>Đề cương</th>
					<th>Phiên bản</th>
					<th>Xem</th>
					<th>Sửa</th>
					<th>Xóa</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="course : ${courses}">
					<td th:text="${course.courseCode}">course_code</td>
					<td th:text="${course.courseNameVn}">course_name_vn</td>
					<td th:text="${course.courseNameEn}">course_name_en</td>
					<td th:text="${course.courseCredits}">course_name_vn</td>
					<td th:text="${course.courseLinktoSyllabus}">course_linkto_syllabus</td>
					<td th:text="${course.courseVersionCode}">course_linkto_syllabus</td>
					<td><a href="#" th:href="@{/admin/course/} + ${course.courseId}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
					<td><a href="#" th:href="@{/admin/course/edit/} + ${course.courseId}"><span class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a href="#" th:href="@{/admin/course/delete/} + ${course.courseId}"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
			</tbody>
		</table>
		
		<p th:if="${courses.size() == 0}">
			<div class="alert alert-warning" role="alert">No Posts Found.</div>
		</p>
		
	</div>
		
</body>
</html>