<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layouts/main">
<head>
	<title>List Faculties</title>
</head>
<body>
		
	<div layout:fragment="content">
	
		<h2>Danh sách các Khoa</h2>
		
		<div th:if="${message}" class="alert alert-success" role="alert">
			<p th:text="${message}">success message</p>
		</div>

		<a th:href="@{/admin/faculty/create}" class="btn btn-success pull-left"><span class="glyphicon glyphicon-plus"></span>Add New</a>
		<br/><br/>

		<form class="form-inline pull-right" action="#" th:action="@{/admin/faculty/search}" method="GET">
			<div class="form-group">
				<input type="text" class="form-control" name="q" placeholder="Type name..." />
			</div>
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Mã số</th>
					<th>Tên khoa (VN)</th>
					<th>Tên khoa (EN)</th>
					<th>Trường</th>
					<th>Xem</th>
					<th>Sửa</th>
					<th>Xóa</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="faculty : ${faculties}">
					<td th:text="${faculty.getFacultyCode()}"></td>
					<td th:text="${faculty.getFacultyNameVn()}"></td>
					<td th:text="${faculty.getFacultyNameEn()}"></td>
					<td th:text="${faculty.getUniversity().univNameVn}"></td>
					<td><a href="#" th:href="@{/admin/faculty/} + ${faculty.facultyId}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
					<td><a href="#" th:href="@{/admin/faculty/edit/} + ${faculty.facultyId}"><span class="glyphicon glyphicon-pencil"></span></a></td>
					<td><a href="#" th:href="@{/admin/faculty/delete/} + ${faculty.facultyId}"><span class="glyphicon glyphicon-trash"></span></a></td>
				</tr>
			</tbody>
		</table>
		
		<p th:if="${faculties.size() == 0}">
			<div class="alert alert-warning" role="alert">No Faculty Found.</div>
		</p>
		
	</div>
		
</body>
</html>